<manifest package="com.tonorbe.trainerfish"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.tonorbe.chessopeningscoach" />
    </queries>

        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<application
        android:name=".TrainerFishApplication"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Puzzles"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity
            android:name="com.tonorbe.trainerfish.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize|uiMode">

            <!-- Normal launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- PGN MIME types from Android Files / file managers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:scheme="file" />

                <data android:mimeType="application/x-chess-pgn" />
                <data android:mimeType="application/vnd.chess-pgn" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <!-- PGN extension fallback: lowercase .pgn -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content"
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pgn" />

                <data
                    android:scheme="file"
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.pgn" />
            </intent-filter>

            <!-- PGN extension fallback: uppercase .PGN -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="content"
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.PGN" />

                <data
                    android:scheme="file"
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.PGN" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    
        <receiver
            android:name=".TrainerFishDailyNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
</application>
</manifest>
